@use "../abstracts/mixins" as mix;
.cards {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 176px;

  @media (max-width: 550px) {
    width: 80%;
  }
  @include mix.mobile-m-styles {
  }
  .cards-container {
    flex-wrap: wrap;
    display: flex;
    margin-right: -20px;

    .card {
      flex-basis: 33.33%;
      transform: scale(1);
      transition: transform 0.3s ease-out;
      &.filter-on {
        display: none;
      }
      @include mix.tablet-styles {
        flex-basis: 50%;
      }
      @media (max-width: 550px) {
        flex-basis: 100%;
      }

      &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in;
      }
      .inner {
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 10px;
        img {
          border-top-right-radius: inherit;
          border-top-left-radius: inherit;
          height: 250px;
          @include mix.laptop-m-styles {
            height: 150px;
          }
          @include mix.tablet-styles {
            height: 200px;
          }
          @media (max-width: 650px) {
            height: 150px;
          }
          @media (max-width: 550px) {
            height: 200px;
          }
          @include mix.mobile-m-styles {
          }
        }
        .card-body {
          padding: 15px;
          .academy {
            font-size: 15px;
            background-color: #fcd232;
            display: inline-block;
            padding: 5px 10px;
            margin-bottom: 0;
            @media (max-width: 650px) {
              font-size: 10px;
            }
          }
          @include mix.laptop-m-styles {
            .card-text {
              font-size: 13px;
            }
          }

          .card-title {
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 18px;
            width: 70%;
            @include mix.laptop-m-styles {
              font-size: 15px;
              width: 80%;
            }
            @media (max-width: 650px) {
              font-size: 13px;
            }
          }
          .date {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 20px;
            @include mix.laptop-m-styles {
              font-size: 10px;
            }
          }
          .more {
            width: 141px;
            margin-left: auto;
            @include mix.laptop-m-styles {
              transform: scale(0.8);
            }
          }
        }
      }
    }
  }
}
