@use "../abstracts/mixins" as mix;

nav {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fcd232;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 100px;
  background-position: center;

  @include mix.mobile-l-styles {
    padding: 15px 20px;
  }

  .logo {
    img {
      width: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 10px;
      margin-top: 5px;
      margin-bottom: 0;
    }
  }

  .content {
    display: flex;
    gap: 50px;
    align-items: center;

    .links {
      padding: 0;
      margin-bottom: 0;
      display: flex;
      list-style: none;

      li {
        font-weight: bold;
        margin-bottom: 0px;
        display: inline-block;
        position: relative;
        @media (max-width: 350px) {
          font-size: 16px;
        }

        &:not(:last-child) {
          margin-right: 20px;
        }
      }

      a::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: red;
        transform-origin: center;
        transition: transform 0.3s ease-in;
      }

      a:hover:after {
        transform: scaleX(1);
        transform-origin: center;
        @include mix.tablet-styles {
          transform: scaleX(0);
        }
      }
      a:hover {
        color: red;
        transition: color 0.5s ease;
      }
    }
  }

  .button {
    transform: scale(1);
    transition: transform 0.5s ease-out;
  }

  .button:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in;
  }

  .burger {
    width: 50px;
    display: none;

    span {
      display: block;
      background-color: black;
      border-radius: 15px;
      height: 5px;
      &:first-child {
        width: 100%;
        transition: all 0.3s ease;
      }

      &:nth-child(2) {
        width: 70%;
        transition: all 0.3s ease;
      }

      &:last-child {
        width: 50%;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &.x span:first-child {
      transform: rotate(-45deg) translate(-5px, 6px);
      background-color: red;
      transition: all 0.5s ease;
    }

    &.x span:nth-child(2) {
      transform: rotate(45deg) translate(-5px, -6px);
      width: 100%;
      background-color: red;
      transition: all 0.5s ease;
    }

    &.x span:last-child {
      opacity: 0;
    }
  }

  @media (max-width: 1246px) {
    font-size: 12px;
    .content {
      gap: 20px;
    }
    .logo {
      img {
        width: 40px;
      }
      p {
        font-size: 8px;
      }
    }
  }
  @media (max-width: 966px) {
    font-size: 11px;
  }

  @include mix.tablet-styles {
    position: relative;
    .burger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      z-index: 9;
    }

    .content {
      display: block;
      height: 100vh;
      transition: height 0.8s ease;
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      right: 0;
      background-color: #302f38;
      color: white;

      &.btn-on {
        height: 0;
        transition: height 0.8s ease;
        overflow: hidden;
      }

      .button {
        margin-left: 30px;
        font-size: 20px;
        opacity: 1;
        transition: all 1s ease;

        &.btn-on {
          opacity: 0;
          transition: all 1s ease;
        }
      }
      .links {
        display: block;
        margin-top: 150px;
        margin-left: 30px;
        font-size: 20px;

        li {
          display: block;
          margin-bottom: 25px;
        }
      }
    }
  }
}
